/* Reset all feutures */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #da8484;
    background: linear-gradient(to right, #da8484, #d9a7c7);
}

.container {
    background:#fff;
    width: 450px;
    padding: 1.5rem;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
}

form {
    margin-top: 0 1.5rem;
}

.form-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    padding: 1.3rem 0;

}

input {
    color: inherit;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    padding-left: 1.5rem;
    font-size: 14px;
}

.input-group {
    padding: 1% 0;
    margin-bottom: 1rem;
}
.input-group i {
    position: absolute;
    color: burlywood;
}

input:focus {
    outline: transparent;
    background-color: transparent;
    border-bottom: 2px solid burlywood;

}

input::placeholder {
    color: #ccc;
    position: relative;
    left: 1.2em;
    top: -1.3em;
    cursor: auto;
    transition: 0.3s ease all;
}
label {
    color: #858383;
    position: relative;
    left: 1.2em;
    top: -1.3em;
    cursor: auto;
    transition: 0.3s ease all;
}


input:focus~label, input:not(:placeholder-shown)~label {
    top: -3em;
    left: 0;
    font-size: 15px;
    color: burlywood;
} 

.forgot-password {
    text-align: right;
    font-size: 1rem;
    margin-top: 1rem;
}

.forgot-password a {
    text-decoration: none;
    color: rgb(125, 125, 235);
}

.forgot-password a:hover {
    text-decoration: underline;
}

.btn {
    background-color: burlywood;
    color: #fff;
    width: 100%;
    padding: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1.2rem;
    transition: 0.9s;
    outline: none;
}

.btn:hover {
    background-color: #8b5d2e;
} 

.or {
    font-size: 1.1rem;
    text-align: center;
    margin-top: 1rem;
}

.icons {
    text-align: center;
}

.icons i {
    color: rgb(125, 125, 235);
    padding: 0.8rem 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid #dfdfdf;
    margin: 0 15px;
    transition: 1s;
}

.icons i:hover {
    background-color: #da8484;
    color: #fff;
    border: 2px solid #da8484;
} 

.links {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    padding: 0 4rem;
    font-weight: bold;
}

button {
    color: rgb(125, 125, 235);
    border: none;
    background-color: transparent;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.9s;
}

button:hover {
    color: #da8484;
}